body {
    background-color: #edf4ff;
    font-family: "Merriweather";
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    background-color: #ced4de;
    height: 100px;
    width: 100%;
    z-index: 9999;
}

.headerNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

.sideNavigation {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    top: 170px;
    margin-left: 75%;
    transform: translateY(25%);
    animation: slideInFromRight .8s forwards;
}

.blogSection {
    pointer-events: none;
    margin-top: -23%;
    left: 12%;
    animation: slideInFromBottom 1s forwards;
    overflow: hidden;
}

.sideNavigation:before {
    content: "";
    position: absolute;
    top: -7px;
    bottom: 0;
    left: -20px;
    width: 2px;
    height: 400px;
    background-color: #ced4de;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

h1 {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.logo {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 10%;
    transition: all 150ms ease-in-out;
}

.logo:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.logoFooter {
    position: static;
    transition: all 150ms ease-in-out;
}

.logoFooter:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.homeH1{
    cursor: pointer;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(+100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottomArrow {
    0% {
      opacity: 0;
      transform: translateY(1000%);
    }
    50%{
        transform: translateY(1000%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.homeTitleText, .homeText {
    opacity: 0;
}

.homeTitleText {
    position: absolute;
    top: 40%;
    left: 250px;
    transform: translateY(-50%);
    animation: slideInFromLeft 1s forwards;
    
}

.homeTitleText:hover h1{
    font-size: 64px;
}


.homeText {
    position: absolute;
    top: 65%;
    left: 750px;
    margin-right: 10%;
    transform: translateY(-50%);
    animation: slideInFromBottom 1.5s forwards;
    
}


.blogTitle {
    position: relative;
    margin-top: 175px;
    left: 12%;
    animation: slideInFromLeft 1s forwards;
}



.profileImageandInfo {
    position: relative;
    max-width: 400px;
    margin-top: 10%;
    left: 10%;
    animation: slideInFromBottom 1s forwards;
}

.profileDescription {
    position: absolute;
    top: 25%;
    max-width: auto;
    margin-top: -2%;
    margin-right: 200px;
    left: 43%;
    animation: slideInFromRight 1s forwards;
}

.document {
    position: relative;
    margin-bottom: 2%;
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 32%;
    padding-inline: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    animation: slideInFromBottom 1s forwards;
    flex: 1;
    margin-top: -11.5%;
}



.document h2 {
    font-size: 34px;
    font-style: italic;
}

.document h3 {
    font-size: 30px;
}

.document h4 {
    font-size: 24px;
    margin-bottom: -10px;
}

.document li {
    font-size: 22px;
    text-align: justify;
}

.essay {
    position: relative;
    margin-bottom: 2%;
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 32%;
    padding-inline: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    animation: slideInFromBottom 1s forwards;
    margin-top: -11.5%;
}

.essay h3{
    font-size: 28px;
}

h1 {
    font-size: 48px;
    transition: all 300ms ease-in-out;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 22px;
    text-align: justify;
}

article {
    position: relative;
    margin-top: 50px;
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    
}

article h1 {
    font-size: 28px;
    margin: 20px;
}

article p {
    margin-inline: 20px;
}

article footer {
    text-align: right;
    margin-right: 1%;
    margin-bottom: 1%;
}

.profileImage {
    height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.profileImage:hover{
    transform: scale(1.01);
    border-radius: 10px;
}

#image {
    height: 75px;
}

#ph2 {
    margin-top: 1px;
}

.portfolioText {
    padding-top: 2%;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: all 200ms ease-in-out;
}

.portfolioText:hover{
    font-size: 32px;
}

#profilelist {
    list-style: none;
}

#profilelistitem {
    margin-left: -40px;
    font-size: 22px;
}

#bloglistitem {

    font-size: 22px;
    margin-left: -25px;
}

#headerlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.headerlistitem {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

.headerlistitem:hover {
    
    transform: scale(1.05);
    border-radius: 10px;
    cursor: pointer;
}


#flowdiagramimage {
    width: 100%;
}

.blackcolourbox {
    display: inline-block;
    background-color: #000;
    width: 30px;
    height: 30px;
}

.greycolourbox {
    display: inline-block;
    background-color: #ced4de;
    width: 30px;
    height: 30px;
}

.whitecolourbox {
    display: inline-block;
    background-color: #edf4ff;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #000;
}

.blackcolourbox {
    display: inline-block;
    background-color: #000;
    width: 30px;
    height: 30px;
}

#colourText {
    display: inline-block;
}

#wireframeimage {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background: cover;
    background: center;

}

#sketchimage {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

#unity-container {
    max-width: 1920px;
    margin: 0 auto;
  }

  #unity-canvas {
    width: 100%;
    height: auto;
  }

  .essay p{
    word-wrap: break-word;
  }

  .main{
    display: flex;
  }
  
  .sortButton {
    position: absolute;
    display: inline;
    background-color:transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 4%;
    height: 8%;
    animation: slideInFromBottomArrow 1s forwards;
    margin-left: 8%;
    margin-top: 2%;
    border: 0;
  }

  .sortButton img {
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: all 150ms ease-in-out;
  }

  .sortButton img:hover{
    opacity: .3;
    width: 110%;
    height: 110%;
    transform: translate(-5%,-5%);
  }

  .game{
    height: 645px;
    width: 100%;
  }
 
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .pageFooter {
    margin-top: auto;
    background-color: #ced4de;
    color: #000;
    padding: 20px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}


.footerInfo{
    text-align: center;
}

.info {
  text-align: left;
}

.url {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

 .university:hover {
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-weight: bold;
}

.pageFooter{
    justify-content: center;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    gap: 0px;
}

.name:hover{
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-weight: bold;
}

.email:hover{
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-weight: bold;
}

