body {
    background-color: #edf4ff;
    font-family: "Merriweather";
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    background-color: #ced4de;
    height: 100px;
    width: 100%;
    z-index: 9999;
}

.headerNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

.sideNavigation {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    
    top: 170px;
    margin-left: 75%;
    transform: translateY(25%);
    animation: slideInFromRight .8s forwards;
}

.BlogSection {
    pointer-events: none;
    
    margin-top: -14%;
    left: 12%;
    animation: slideInFromBottom 1s forwards;
}

.sideNavigation:before {
    content: "";
    position: absolute;
    top: -7px;
    bottom: 0;
    left: -20px;
    width: 2px;
    height: 350px;
    background-color: #ced4de;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

h1 {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.Logo {
    display: inline-block;
    position: relative;
    left: 65px;
    top: 13px;
    transition: all 150ms ease-in-out;
}

.Logo:hover {
    
    transform: scale(1.03);
    filter: grayscale(100%);
    
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(+100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.HomeTitleText, .HomeText {
    opacity: 0;
}

.HomeTitleText {
    position: absolute;
    top: 40%;
    left: 250px;
    transform: translateY(-50%);
    animation: slideInFromLeft 1s forwards;
    
}

.HomeTitleText:hover h1{
    font-size: 64px;
    
}


.HomeText {
    position: absolute;
    top: 65%;
    left: 750px;
    margin-right: 10%;
    transform: translateY(-50%);
    animation: slideInFromBottom 1.5s forwards;
    
}


.BlogTitle {
    position: relative;
    margin-top: 175px;
    left: 12%;
    animation: slideInFromLeft 1s forwards;
}

.EssayText {
    position: absolute;
    top: 45%;
    left: 25%;

}

.ProfileImageandInfo {
    position: absolute;
    max-width: 400px;
    top: 25%;
    left: 10%;
    animation: slideInFromBottom 1s forwards;
}

.ProfileDescription {
    position: absolute;
    top: 25%;
    max-width: auto;
    margin-right: 200px;
    left: 43%;
    animation: slideInFromRight 1s forwards;
}

.Portfolio {
    position: absolute;
    top: 20%;
    left: 450px;
}

.PortfolioBody {
    position: absolute;
    margin-top: -190px;
    margin-inline: 12%;
    border: 5px solid;
    border-color: #ced4de;
    height: 100%;
    width: 50%;
    margin-right: 600px;
    padding-inline: 20px;
}

.document {
    position: relative;
    pointer-events: none;
   /* margin-top: -190px; */
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 32%;
    padding-inline: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    animation: slideInFromBottom 1s forwards;
    flex: 1;
    margin-top: -190px;
    
}



.document h2 {
    font-size: 34px;
    font-style: italic;
}

.document h3 {
    font-size: 30px;
}

.document h4 {
    font-size: 24px;
    margin-bottom: -10px;
}

.document li {
    font-size: 22px;
    text-align: justify;
}

.essay {
    position: relative;
    pointer-events: none;
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 32%;
    padding-inline: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    animation: slideInFromBottom 1s forwards;
    margin-top: -11.5%;
}

.essay h3{
    font-size: 28px;
    
}

h1 {
    font-size: 48px;
    transition: all 300ms ease-in-out;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 22px;
    text-align: justify;
}

article {
    position: relative;
    margin-top: 50px;
    margin-inline: 12%;
    border: 2px solid;
    border-color: #ced4de;
    width: auto;
    height: auto;
    margin-right: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

article h1 {
    font-size: 28px;
    margin: 20px;
}

article p {
    margin-inline: 20px;
}

article footer {
    text-align: right;
    margin-right: 1%;
    margin-bottom: 1%;
}

.profileImage {
    height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.profileImage:hover{
    
    transform: scale(1.01);
    border-radius: 10px;
}

#logo {
    height: 75px;
}

#ph2 {
    margin-top: 1px;
}

.portfolioText {

    font-size: 28px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: all 200ms ease-in-out;
}

.portfolioText:hover{
    font-size: 32px;
}

#profilelist {
    list-style: none;
}

#profilelistitem {
    margin-left: -40px;
    font-size: 22px;
}

#bloglistitem {

    font-size: 22px;
    margin-left: -25px;
}

#headerlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}



.headerlistitem {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

.headerlistitem:hover {
    
    transform: scale(1.05);
    border-radius: 10px;
    
}


#flowdiagramimage {
    width: 100%;
}

.blackcolourbox {
    display: inline-block;
    background-color: #000;
    width: 30px;
    height: 30px;
}

.greycolourbox {
    display: inline-block;
    background-color: #ced4de;
    width: 30px;
    height: 30px;
}

.whitecolourbox {
    display: inline-block;
    background-color: #edf4ff;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #000;
}

.blackcolourbox {
    display: inline-block;
    background-color: #000;
    width: 30px;
    height: 30px;
}

#colourText {
    display: inline-block;
}

#wireframeimage {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background: cover;
    background: center;

}

#sketchimage {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

#unity-container {
    max-width: 1920px;
    margin: 0 auto;
  }

  #unity-canvas {
    width: 100%;
    height: auto;
  }

  .essay p{
    word-wrap: break-word;
  }

  .main{
    display: flex;
  }
  
  